.container {
    background-color: var(--lightGray);
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-container {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 48px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}


.menu-icon {
    font-size: 1rem;
}

.close-icon {
    font-size: 1rem;
}